<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.web>
      <pages>
        
        <controls>
         
          <add tagPrefix="asp"
              namespace="AjaxControlToolkit"
              assembly="AjaxControlToolKit"/>
        </controls>
      </pages>
    </system.web>
</configuration>
